<a routerLink="/">Volver al inicio</a>

<h1>Panel de Admin</h1>

<h2>Catálogo</h2>
<ul>
    <li><a routerLink="/admin/peliculas">Películas</a></li>
    <li><a routerLink="/admin/generos/nuevo">Géneros</a></li>
    <li><a routerLink="/admin/salas">Salas</a></li>
    <li><a routerLink="/admin/funciones">Funciones</a></li>
    <li><a routerLink="/admin/categorias-producto/nueva">Categorías de producto</a></li>
    <li><a routerLink="/admin/productos">Productos</a></li>
</ul>

<h2>Usuarios</h2>
<ul>
    <li><a routerLink="/admin/usuarios">Gestión de usuarios</a></li>
</ul>
