<header class="header">
    <div class="logo">CINE</div>

    <input type="search" class="buscador" placeholder="Buscar película...">


<!-- manejo de distinos nav segun la session -->
    <div class="acciones">
        @if (!auth.session()) {
            <a routerLink="/registro" routerLinkActive="activo" class="btn">Registrar</a>
            <a routerLink="/login" routerLinkActive="activo" class="btn">Login</a>
        } @else {
            <a *appSiRol="'admin'" routerLink="/admin" routerLinkActive="activo" class="btn">Admin</a>
            <a *appSiRol="['cliente', 'empleado']" routerLink="/perfil" routerLinkActive="activo" class="btn">Perfil</a>
            <button type="button" [disabled]="cerrandoSesion()" (click)="cerrarSesion()">
                @if (cerrandoSesion()) { <app-spinner [inline]="true" /> }
                Cerrar sesión
            </button>
        }
    </div>
</header>